---
import Layout from '@layouts/Layout.astro'
import SectionContainer from '@components/SectionContainer.astro'

import Briefcase from '@icons/Briefcase.astro'
import Code from '@icons/Code.astro'
import School from '@icons/School.astro'
import Sliders from '@icons/Sliders.astro'
import MessageCode from '@/icons/MessageCode.astro'

import About from '@/sections/About.astro'
import Experience from '@/sections/Experience.astro'
import Projects from '@/sections/Projects.astro'
import Education from '@/sections/Education.astro'
import Skills from '@/sections/Skills.astro'
import Contact from '@/sections/Contact.astro'
---

<Layout
	title="Portafolio | Ebert Escalante - Bachiller en Ingeniería Informática y Desarrollador Web"
	description="Ebert Escalante, bachiller en Ingeniería Informática y desarrollador web. Conoce más sobre mi experiencia laboral, proyectos, educación y habilidades."
>
	<main class="max-w-4xl mx-auto w-full h-full flex flex-col px-2 pt-4 pb-10">
		<SectionContainer id="about">
			<About />
		</SectionContainer>
		<SectionContainer id="experience" title="Experiencia laboral">
			<Briefcase class="size-7" slot="icon" />
			<div class="ml-3">
				<Experience />
			</div>
		</SectionContainer>
		<SectionContainer id="projects" title="Proyectos">
			<Code class="size-7" slot="icon" />
			<Projects />
		</SectionContainer>
		<SectionContainer id="education" title="Educación">
			<School class="size-7" slot="icon" />
			<div class="ml-3">
				<Education />
			</div>
		</SectionContainer>
		<SectionContainer id="skills" title="Habilidades">
			<Sliders class="size-7" slot="icon" />
			<Skills	/>
		</SectionContainer>
		<!-- <SectionContainer id="contact" title="Contacto">
			<MessageCode class="size-7" slot="icon" />
			<Contact />
		</SectionContainer> -->
	</main>
</Layout>