<a
	{...Astro.props}
	target="_blank"
	rel="noopener noreferrer"
	role="link"
	class="flex items-center justify-center px-2 py-1 transition border rounded-lg text-gray-300 hover:text-gray-50 text-md border-gray-700 hover:border-gray-500 group focus:outline-none focus-visible:outline-none focus-visible:ring-0"
>
	<slot />
</a>