---
import SocialPill from '@components/SocialPill.astro'

import MailIcon from '@icons/Mail.astro'
import GitHubIcon from '@icons/GitHub.astro'
import LinkedInIcon from '@icons/LinkedIn.astro'
---
<div class="flex gap-x-4">
	<figure class="hidden md:flex justify-center items-center object-fit flex-shrink-0 relative w-[256px] h-[256px]">
		<img src="/development.webp" class="rounded" alt="Ebert Escalante" loading="lazy" />
	</figure>
	<div class="flex flex-col flex-1">
		<div class="flex items-center">
			<a
				href="https://linkedin.com/in/ebert-escalante"
				target="_blank"
				rel="noopener"
				class="flex items-center transition md:justify-center md:hover:scale-105"
			>
				<div class="flex items-center">
					<span class="relative inline-flex overflow-hidden rounded-full p-[1px]">
						<span class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#51E4B8_0%,#21554E_50%,#51E4B8_100%)]"></span>
						<div class="inline-flex items-center justify-center w-full px-3 py-1 text-sm text-green-800 bg-green-100 rounded-full cursor-pointer dark:bg-gray-800 dark:text-white/80 backdrop-blur-3xl whitespace-nowrap">
							Disponible para trabajar
						</div>
					</span>
				</div>
				<!-- <Badge>Disponible para trabajar</Badge> -->
			</a>
			<div class="flex flex-1 justify-end gap-x-2">
				<SocialPill href="mailto:ebertescalant@gmail.com">
					<MailIcon class="size-5" />
				</SocialPill>
				<SocialPill href="https://github.com/ebert-escalant">
					<GitHubIcon class="size-5" />
				</SocialPill>
				<SocialPill href="https://linkedin.com/in/ebert-escalante">
					<LinkedInIcon class="size-5" />
				</SocialPill>
			</div>
		</div>
		<div class="flex-1 mt-4">
			<h1 class="text-3xl font-bold tracking-tight text-gray-800 dark:text-white">
				Hola, soy Ebert Escalante
			</h1>
			<p class="mt-3 text-md text-gray-800 dark:[&>strong]:text-teal-400 [&>strong]:text-teal-500 [&>strong]:font-semibold dark:text-gray-300">
				Desarrollador <strong>full-stack (mid)</strong> con experiencia en Angular, React, Node.js y NestJS.
				Especializado en soluciones web con enfoque en arquitectura, mantenibilidad y experiencia de usuario,
				aplicando buenas prácticas en frontend y backend.
			</p>

		</div>
	</div>
</div>