---
import ProjectCard from "@/components/ProjectCard.astro";
import { projects } from "@/utils/projects";
---

<div class="grid grid-cols-1 md:grid-cols-2 gap-4 ">
	{projects.map((project, index) => (
		<ProjectCard project={project} />
	))}
</div>