---
import { skills } from "@/utils/skills"

const length = skills.length

const mid = Math.floor(length / 2)

const firstHalf = skills.slice(0, mid)
const secondHalf = skills.slice(mid)
---
<div class="w-full flex flex-nowrap overflow-hidden [mask-image:_linear-gradient(to_right,transparent_0,_black_128px,_black_calc(100%-128px),transparent_100%)]">
	<ul class="flex items-center justify-center md:justify-start animate-infinite-scroll-reverse">
		{secondHalf.map(item => (
			<li class="mx-4 p-4 flex flex-col items-center">
				<item.icon class="size-12 text-gray-900 dark:text-white" />
				<spam class="text-nowrap font-light text-sm mt-4">{item.name}</spam>
			</li>
		))}
	</ul>
	<ul class="flex items-center justify-center md:justify-start animate-infinite-scroll-reverse">
		{secondHalf.map(item => (
			<li class="mx-4 p-4 flex flex-col items-center">
				<item.icon class="size-12 text-gray-900 dark:text-white" />
				<spam class="text-nowrap font-light text-sm mt-4">{item.name}</spam>
			</li>
		))}
	</ul>
</div>
<div class="w-full mt-6 flex flex-nowrap overflow-hidden [mask-image:_linear-gradient(to_right,transparent_0,_black_128px,_black_calc(100%-128px),transparent_100%)]">
	<ul class="flex items-center justify-center md:justify-start animate-infinite-scroll">
		{firstHalf.map(item => (
			<li class="mx-4 p-4 flex flex-col items-center">
				<item.icon class="size-12 text-gray-900 dark:text-white" />
				<spam class="text-nowrap font-light text-sm mt-4">{item.name}</spam>
			</li>
		))}
	</ul>
	<ul class="flex items-center justify-center md:justify-start animate-infinite-scroll">
		{firstHalf.map(item => (
			<li class="mx-4 p-4 flex flex-col items-center">
				<item.icon class="size-12 text-gray-900 dark:text-white" />
				<spam class="text-nowrap font-light text-sm mt-4">{item.name}</spam>
			</li>
		))}
	</ul>
</div>
